<a href="https://colab.research.google.com/github/VasaviLagishetty/Fyers-skillenza/blob/main/Fyers_Airlines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import json

with open('airlines.csv') as f:
    lines = [line.split('"') for line in f]
    d = dict()
    for airline in lines[1:]:
        if airline[1] in d:
            d[airline[1]] += 1
        else:
            d[airline[1]] = 1

sorted_airlines = sorted(d.items(),key = lambda item : item[1])
print(json.dumps(d,indent = 4))
print(sorted_airlines[-1][0],sorted_airlines[-1][1])
print(sorted_airlines[0][0],sorted_airlines[0][1])

{
    "Atlanta, GA: Hartsfield-Jackson Atlanta International": 154,
    "Boston, MA: Logan International": 150,
    "Baltimore, MD: Baltimore/Washington International Thurgood Marshall": 150,
    "Charlotte, NC: Charlotte Douglas International": 150,
    "Washington, DC: Ronald Reagan Washington National": 150,
    "Denver, CO: Denver International": 150,
    "Dallas/Fort Worth, TX: Dallas/Fort Worth International": 150,
    "Detroit, MI: Detroit Metro Wayne County": 150,
    "Newark, NJ: Newark Liberty International": 150,
    "Fort Lauderdale, FL: Fort Lauderdale-Hollywood International": 150,
    "Washington, DC: Washington Dulles International": 150,
    "Houston, TX: George Bush Intercontinental/Houston": 150,
    "New York, NY: John F. Kennedy International": 150,
    "Las Vegas, NV: McCarran International": 150,
    "Los Angeles, CA: Los Angeles International": 150,
    "New York, NY: LaGuardia": 150,
    "Orlando, FL: Orlando International": 150,
    "Chicago, IL: Chicago Midway International": 150,
    "Miami, FL: Miami International": 150,
    "Minneapolis, MN: Minneapolis-St Paul International": 150,
    "Chicago, IL: Chicago O'Hare International": 150,
    "Portland, OR: Portland International": 149,
    "Philadelphia, PA: Philadelphia International": 149,
    "Phoenix, AZ: Phoenix Sky Harbor International": 137,
    "San Diego, CA: San Diego International": 149,
    "Seattle, WA: Seattle/Tacoma International": 149,
    "San Francisco, CA: San Francisco International": 149,
    "Salt Lake City, UT: Salt Lake City International": 149,
    "Tampa, FL: Tampa International": 149
}
Atlanta, GA: Hartsfield-Jackson Atlanta International 154
Phoenix, AZ: Phoenix Sky Harbor International 137